<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <title>Input PhoneNumber</title>
</head>
<body>
<form action="#" th:action="@{/logins}" th:object="${user}"
      method="POST">
    <table>
        <tr>
            <td>Name: </td>
            <td><input type="text" th:field="*{name}"/></td>
            <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="text" th:field="*{password}"/></td>
            <td th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
    </table>
    <button type="submit">Login</button>
</form>
</body>
</html>